@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  font-family: "Figtree", sans-serif;
  color: white;
}

html{
  background-image: url('/page-bg.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.733);
  background-blend-mode: multiply;
  overflow-x: hidden;
}

button{
  cursor: pointer;
}


h1.main-title{
  font-size: 8em;
  font-weight: 600;
}
h1{
  font-family: "Prompt", sans-serif;
  font-size: 4em;
}

h2{
  font-size: 3em;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1.5rem
}

.custom-shadow{
  box-shadow: 0 0 12px 2px rgba(163, 3, 3, 0.411);
}

.open-hero-list{
  font-size: 2.5em;
  font-weight: 300;
}

.hero-card{
  transition: box-shadow 0.25s ease-in-out;
  box-shadow: 0 0 5px 3px rgba(163, 3, 3, 0.411);
  background: rgba(0, 0, 0, 0.466);
}
.hero-card:hover{
  box-shadow: 0 0 12px 5px rgba(163, 3, 3, 0.411);
}

.btn-blue, .btn-danger, .btn-yellow{
  color: white;
}

.btn-blue{
  background: #2C6CCC;
}

.btn-blue:hover{
  background: #1f5ab1;
}
.btn-danger{
  background: #E54444;
}
.btn-danger:hover{
  background: #d32d2d;
}
.btn-yellow{
  background: #F1C32D;
}
.btn-yellow:hover{
  background: #e2b318;
}

.hero-item-abilitites {
  display: flex;
  flex-direction: row;
  gap: 5px;
  li{
    padding: 0 8px;
    border: 2px solid #2C6CCC;
    border-radius: 2rem;
    
  }
}


.hero-info > h4::after{
  height: 1px;
  width: 50%;
  height: 1px;
  content: " ";
  left: 0;
  transform: translateX(50%);
  display: flex;
  border-bottom: dashed rgba(0, 0, 0, 0.507) 4px;
}

.input-search-character{
  background: white;
  border-radius: 3px;
  border: solid 3px gray;
  padding: 1px 5px;
}

.search-hero-results{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  
  li:not(:last-child, :first-child){
    border-bottom: 2px rgba(0, 0, 0, 0.288) solid;
  }
  li:not(:first-child){
    cursor: pointer;
    background-color: transparent;
    padding: 3px 5px;
    border-radius: 3px;
    transition: background-color 0.25s ease-in, color 0.25s ease-in;
  }

  li:not(:first-child):hover{
    background-color: rgb(68, 68, 182);
    color: white;
  }

  :first-child{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    p{
      font-size: 1.25em;
      font-weight: 600;
      width: fit-content;
      padding: 0 10px;
      border-bottom: 3px rgba(0, 0, 0, 0.267) solid;
    }
  }
}

.hero-origin{
  h3{
    text-align: center;
  }
  textarea{
    border: 3px solid rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    padding: 5px;
    width: 97%;
  }
  textarea:focus{
    border-color: #1f5ab1;
    outline: none;
  }
}


.set-ability{
  border: 2px solid #F1C32D;
}
.hero-abilities{
  input{
    border-radius: 5px;
    padding: 0 5px;
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 0.281);
  }
  input:focus{
    border-color: #1f5ab1;
    outline: none;
  }

  li{
    border: solid 3px #3b87eb;
    padding: 1px 15px;
    border-radius: 3rem;
    transition: box-shadow 0.5s ease-in;
    cursor: pointer;
  }
  li.selected{
    border-color: #F1C32D;
  }
  li:hover{
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.322);

  }
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
  }
  .loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #fff;
    animation-name: pulsIn;
  }
  .loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #fff;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem #fff;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: inset 0 0 0 0 #fff;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 #fff;
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 0 1rem #fff;
      opacity: 1;
    }
  }
      